@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Exo:400,700');
/*========= レイアウトのためのCSS ===============*/

body{

margin: 0;
font-family: 'Noto Sans JP', sans-serif;
  background:#333;
}

h1{
font-family: 'Merriweather', serif;
margin-bottom: 10%;
font-size: 300%;
}

span{
  display: block;
}

a{

color: #fff;

}



/* Loading背景画面設定　*/
#splash {
/*fixedで全面に固定*/
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 999;
  background:#000;
  text-align:center;
  color:#fff;
}

/* Loading画像中央配置　*/
#splash_logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loading アイコンの大きさ設定　*/
#splash_logo img {
  width:260px;
}

/* fadeUpをするアイコンの動き */
.fadeUp{
animation-name: fadeUpAnime;
animation-duration:0.5s;
animation-fill-mode:forwards;
opacity: 0;
}

@keyframes fadeUpAnime{
  from {
    opacity: 0;
  transform: translateY(100px);
  }

  to {
    opacity: 1;
  transform: translateY(0);
  }
}


.engtext{

  font-family: 'Merriweather', serif;
  font-size: 150%;

}
.text{
  font-family: 'Merriweather', serif;
font-size: 150%;
position: absolute;
}



#header{
  font-size: 150%;
  padding: 40px;
  background:#000;
    color: #fff;
font-family: 'Sofia Sans Extra Condensed', sans-serif;
}

.container{
  background-image: url(video/rhyme.gif);
  background-repeat: no-repeat;
}

.container p{
  width:100%;
  height:100vh;
}

.video-container {
  /* ビデオの位置調整のために指定 */
  position: relative;

  width: 100%;
  height: 100%;
  /* ビデオが画面からはみ出ないようにする */

  /* オーバーレイをかける場合は指定する */
  background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5));
}

.video-container video {

  position: absolute;
}


.contents-container {
  position: absolute;
  z-index: 1;
  /* 今回は適当に配置しています */
  padding: 70px 28px;
}



.box{
    color: #fff;

  justify-content: center;
  align-items: center;
}

#box1{

}
#box2{

}

#box3{

}
#box4{

}
canvas{
  height: 100%;
  width: 100%;
}

#box5{
    background: #000;
}
#particles-js{
 height: 100vh;
 width: 100vw;
 background-color: #000000;

}

#footer{
  background:#333;
  color:#fff;
  padding:40px;
  text-align:center;
}

#footer {
  color: #fff;
font-family: 'Merriweather', serif;
}





/*== 線の上を別の線が伸びる */

.btnlinestretches4{
    /*線の基点とするためrelativeを指定*/
  position:relative;
    /*リンクの形状*/
  color:#fff;
    padding: 10px 50px 10px 30px;

  display:inline-block;
    text-decoration: none;
    outline: none;
}

/*線の設定*/
.btnlinestretches4::before,
.btnlinestretches4::after{
  content:'';
    /*絶対配置で線の位置を決める*/
  position:absolute;
  z-index:1;
  bottom:0;
  left:0;
     /*線の形状*/
  background:#f0f8ff;
  width:100%;
  height:2px;
    /*アニメーションの指定*/
  transition:all 0.3s ease-in-out;
}

 /*hover時に伸びる線の形状*/
.btnlinestretches4::after{
  width:0;
  background:#ccc;
}

 /*hover時に100%に伸びる*/
.btnlinestretches4:hover::after {
  width:100%;
}

 /*矢印の設定*/
.btnlinestretches4 span::after {
    content: '';
    /*絶対配置で矢印の位置を決める*/
    position: absolute;
    top: 1.3em;
    right: 20px;
    /*矢印の形状*/
    width: 5px;
    height: 5px;
    border-top: 1px solid #000;
    border-right: 1px solid #000;
    transform: rotate(45deg);
    /*アニメーションの指定*/
    transition: all .3s;
}

/*hover時に矢印が移動*/
.btnlinestretches4:hover span::after {
  right:15px;
}





/* ボタン共通設定 */
.btn04 {
    /*線の基点とするためrelativeを指定*/
  position: relative;
    /*ボタンの形状*/
  display:inline-block;
    padding: 10px 30px;

  color:#fff;
  border:1px solid #ccc;
    text-decoration: none;
    outline: none;
    /*はみ出す背景色を隠す*/
  overflow: hidden;
}

/*hoverした際のボタンの形状*/
.btn04:hover {
  color:#ccc;
  border-color: transparent;
    /*色の変化を遅らせる*/
  transition-delay: .6s;
}

/*線の設定*/
.btn04 span{
    display: block;
    z-index: 2;
}

/*== 線から塗に変化（左から右） */

/*線の設定*/
.borderleft span::before,
.borderleft span::after {
    content: '';
    /*絶対配置で線の位置を決める*/
    position: absolute;
    width:0;
    height:1px;
    /*線の形状*/
    background: #333;
    /*アニメーションの設定*/
  transition: all .3s;
}

/*左上線*/
.borderleft span::before {
    left:0;
    top:0;
}

/*左下線*/
.borderleft span::after {
    left:0;
    bottom:0;
}

/*hoverをすると線が伸びる*/
.borderleft:hover span::before,
.borderleft:hover span::after {
    width: 100%;
}

/*背景の設定*/
.borderleft::before{
  content: '';
    /*絶対配置で線の位置を決める*/
  position: absolute;
  left: 0;
    bottom:0;
  z-index: -1;
    /*背景の形状*/
  height: 100%;
  width: 0;
  background:#333;
    /*アニメーションの設定*/
  transition: all .3s;
}

/*hoverをすると背景が伸びる*/
.borderleft:hover::before{
  width: 100%;
    /*0.4秒遅れてアニメーション*/
  transition-delay: .4s;
}



/*========= ページネーションCSS ===============*/

.pagination {
  position:fixed;
  right:20px;
  top: 50%;
    transform: translateY(-50%);
  font-size:1em;
  z-index: 10;
  list-style: none;
}

.pagination a {
  display:block;
  height:20px;
  margin-bottom:5px;
  color:#fff;
  position:relative;
  padding:4px;
}

.pagination a.active:after {
  box-shadow:inset 0 0 0 5px;
}

/*現在地表示のテキストの設定*/
.pagination a .hover-text {
  position:absolute;
  right:15px;
  top:0;
  opacity:0;
  -webkit-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
  padding-right: 15px;
}

.pagination a:hover .hover-text {
  opacity: 1;
}

.pagination a:after {
  -webkit-transition:box-shadow 0.5s ease;
  transition:box-shadow 0.5s ease;
  width:10px;
  height:10px;
  display: block;
  border:1px solid;
  border-radius:50%;
  content:"";
  position: absolute;
  margin:auto;
  top:0;
  right:3px;
  bottom:0;
}

/* ---- reset ---- */ body{ margin:0; font:normal 75% Arial, Helvetica, sans-serif; }
canvas{ display: block; vertical-align: bottom; }
 /* ---- particles.js container ---- */
 #particles-js{ position:absolute; width: 100%; height: 100%; background-color: #000000; background-image: url("");
background-repeat: no-repeat; background-size: cover; background-position: 50% 50%; }

 /* ---- stats.js ---- */
  .count-particles{ background: #000022;
    position: absolute;
    top: 48px; left: 0; width: 80px;
     color: #13E8E9; font-size: .8em;
     text-align: left; text-indent: 4px; line-height: 14px;
     padding-bottom: 2px; font-family: Helvetica,
      Arial, sans-serif; font-weight: bold; }

     .js-count-particles{ font-size: 1.1em; }

     #stats, .count-particles{ -webkit-user-select: none; margin-top: 5px; margin-left: 5px; }
     #stats{ border-radius: 3px 3px 0 0; overflow: hidden; }
     .count-particles{ border-radius: 0 0 3px 3px; }



     @media screen and (max-width: 400px) {


       .engtext{

         font-size: 100%;
       }


     }


@media screen and (max-width: 600px) {

.pagination a .hover-text{
  display: none;
}
.engtext{

  font-size: 90%;
}
.contents-container{

    padding: 10px 20px;
}
}
